.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  padding-top:0.5em;
  margin: 0 0.5em 0.5em 0;
  min-height: 120px;
  width: 100px;

  background: #fff;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
.card:hover{
  background: gold;
  cursor: pointer;
}
.cardDescription{
  font-size: 0.8em;
  font-weight: lighter;
  padding: 0.3em;
}
.cardImage{
  width: 80px;
  height: 80px;
}
.cardValue{
  width: 80%;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;

  font-weight: bold;
  font-size: 0.75em;
  text-align: center;
}
.selectedState{
  background: gold;
}

.noSelect:hover{
  background: #fff;
  cursor: default;
}

.card-disabled{
  background: #eee;
}
.card-disabled:hover{
  background: #eee;
  cursor: not-allowed;
}
.cardtext-disabled{
  color: #666;
}
