body{
  padding: 0 1em;
  display: flex;
  justify-content: center;
}
label{
  font-weight: bold;
}
h3{
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
}
h2{
  margin-bottom: 0;
}

#root{
  width: 70%;
}

#appContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10vh;
  flex-wrap: wrap;
}

.infoSection{
  margin-bottom: 2em;
  padding: 1em;
  background: lightgray;
  color: #05182A;
  font-size: 1.2em;
}
.textInput{
  margin-bottom: 1em;
  height: 2em;
  width: 100%;

  border: none;
  background-color: white;
}
.page{
    margin-left: 300px;
}

.childSelection{
  margin-left: 3em;
}
.childSelection2{
  margin-left: 6em;
}
.childSelection3{
  margin-left: 8em;
}
.childSelection4{
  margin-left: 9.5em;
}

@media only screen and (max-width: 1120px){
  #root{
    width: 80%
  }
}
@media only screen and (max-width: 920px){
  #root{
    width: 100%
  }
}
@media only screen and (max-width: 750px){
  #root{
    margin-bottom: 35%;
  }
  #backButton{
    margin-left: 0;
  }
  .page{
    margin-left: 0;
  }
  .childSelection{
    margin-left: 1em;
  }
  .childSelection2{
    margin-left: 2em;
  }
  .childSelection3{
    margin-left: 3em;
  }
  .childSelection4{
    margin-left: 4em;
  }
}
