.cardContainer{
  display: flex;
  flex-wrap: wrap;
  max-width: 648px;
  background: lightgray;
  padding: 0.5em;
  margin-bottom: 2em;
}
.card{
  padding-top:0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  margin-right: 0.5em;
  height: 120px;
  width: 100px;
  margin-bottom: 0.5em;
}
.card:hover{
  background: gold;
  cursor: pointer;
}
.selected{
  background: gold;
}

#root{
  display: flex;
  justify-content: center;
}
.title{
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
}
.cardValue{
  font-weight: bold;
  font-size: 0.75em;
  text-align: center;
}
.infoSection{
  margin-bottom: 2em;
  padding: 1em;
  background: lightgray;
  color: #05182A;
  font-size: 1.2em;
}

.toggle{
  margin-bottom: 1em;
}

.submit{
  background: white;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  height: 2em;
  width: 10em;
  text-decoration: none;
  color: black;
  padding: 0.25em 0.5em;
}
.submit:hover{
  background: yellow;
}

.textInput{
  height: 2em;
  width: 100%;
  border: none;
  background-color: white;
  margin-bottom: 1em;
}
.addInfoText{
  height: 4em;
  resize: none;
  outline: none;
  font-size: 1.2em;
}
label{
  font-weight: bold;
}

.cardImage{
  width: 80px;
  height: 80px;
}

.selectedState{
  background: gold;
}