body{
  padding: 0 1em;
  display: flex;
  justify-content: center;
}
label{
  font-weight: bold;
}

#root{
  width: 60%
}

#appContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10vh;
  flex-wrap: wrap;
}

.infoSection{
  margin-bottom: 2em;
  padding: 1em;
  background: lightgray;
  color: #05182A;
  font-size: 1.2em;
}
.textInput{
  margin-bottom: 1em;
  height: 2em;
  width: 100%;

  border: none;
  background-color: white;
}

.childSelection{
  margin-left: 3em;
}
.childSelection2{
  margin-left: 6em;
}
.childSelection3{
  margin-left: 8em;
}
.childSelection4{
  margin-left: 9.5em;
}
